:root {
    --color-background: #ffffff;
    --color-text: #1b1b1f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
}
